In [431]:
# import pandas
import pandas as pd
import numpy as np

In [432]:
# import dataset
cardata = 'Dataset/cardata.csv'
cardata_df = pd.read_csv(cardata)
cardata_df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [433]:
# drop rows with empty values and duplicates
cardata_df = cardata_df.dropna(how = 'any')
cardata_df.drop_duplicates()
cardata_df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [434]:
# create manufacturer column and region (later) and keep popular manufacturers with more than 10 observations
cardata_df['manufacturer'] = cardata_df['name'].str.split(' ').str[0]
cardata_df['manufacturer'].unique()
manufacturers=cardata_df['manufacturer']
manufacturercount = cardata_df['manufacturer'].value_counts()
manufacturercount
manufacturercount.loc[lambda x : x>10]
cardata_df = cardata_df[cardata_df['manufacturer'].str.contains("Honda|Toyota|Ford|Chevrolet|Volkswagen|BMW|Nissan|Jaguar|Mercedes-Benz|Fiat|Audi|Lexus|Jeep|Mitsubishi")==True]
cardata_df['manufacturer'].unique()
cardata_df['manufacturerregion'] = cardata_df['name'].str.split(' ').str[0]
cardata_df['manufacturerregion'].unique()
manufacturers=cardata_df['manufacturerregion']
manufacturercount = cardata_df['manufacturerregion'].value_counts()
manufacturercount
manufacturercount.loc[lambda x : x>10]
cardata_df = cardata_df[cardata_df['manufacturerregion'].str.contains("Honda|Toyota|Ford|Chevrolet|Volkswagen|BMW|Nissan|Jaguar|Mercedes-Benz|Fiat|Audi|Lexus|Jeep|Mitsubishi")==True]
cardata_df['manufacturerregion'].unique()

<ipython-input-434-0f2ac9c627b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardata_df['manufacturer'] = cardata_df['name'].str.split(' ').str[0]
<ipython-input-434-0f2ac9c627b7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardata_df['manufacturerregion'] = cardata_df['name'].str.split(' ').str[0]

array(['Honda', 'Toyota', 'Ford', 'Chevrolet', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Fiat'], dtype=object)

In [435]:
# create miles_per_gallon with mileage converted to mpg, drop outliers, view summary statistics
cardata_df['miles_per_gallon'] = cardata_df['mileage'].str.split(' ').str[0]
mileagemeasure = cardata_df['mileage'].str.split(' ').str[1].unique()
mileagemeasure
cardata_df['miles_per_gallon']=np.where(cardata_df.mileage.str.contains('km/kg'),cardata_df['miles_per_gallon'].astype(float)*0.0016747,cardata_df['miles_per_gallon'])
cardata_df['miles_per_gallon']=np.where(cardata_df.mileage.str.contains('kmpl'),cardata_df['miles_per_gallon'].astype(float)*2.3521458,cardata_df['miles_per_gallon'])
cardata_df['miles_per_gallon'] = cardata_df['miles_per_gallon'].astype('float')
from scipy import stats
cardata_df = cardata_df[(np.abs(stats.zscore(cardata_df['miles_per_gallon'])) < 3)]
cardata_df['miles_per_gallon'].describe()

count    2198.000000
mean       42.791279
std         9.504262
min        21.169312
25%        35.376273
50%        42.338624
75%        48.289553
max        64.448795
Name: miles_per_gallon, dtype: float64

In [436]:
# create new maxpower column from max_power without bhp label, drop outliers
cardata_df['maxpower'] = cardata_df['max_power'].str.split(' ').str[0]
powermeasure = cardata_df['max_power'].str.split(' ').str[1].unique()
powermeasure
cardata_df['maxpower'] = cardata_df['maxpower'].astype('float')
cardata_df = cardata_df[(np.abs(stats.zscore(cardata_df['maxpower'])) < 3)]
cardata_df['maxpower'].describe()

count    2171.000000
mean      111.810154
std        41.213570
min        56.300000
25%        84.800000
50%        98.960000
75%       136.000000
max       241.400000
Name: maxpower, dtype: float64

,year,selling_price,km_driven,seats,miles_per_gallon,maxpower
year,1.000000,0.509336,-0.577014,-0.132076,0.278316,0.284450
selling_price,0.509336,1.000000,-0.354371,-0.019458,-0.114470,0.782911
km_driven,-0.577014,-0.354371,1.000000,0.386434,-0.161674,-0.219826
seats,-0.132076,-0.019458,0.386434,1.000000,-0.518401,0.048804
miles_per_gallon,0.278316,-0.114470,-0.161674,-0.518401,1.000000,-0.331072
maxpower,0.284450,0.782911,-0.219826,0.048804,-0.331072,1.000000

In [438]:
# create new engine_ column from engine without CC label, drop outliers
cardata_df['engine_'] = cardata_df['engine'].str.split(' ').str[0]
powermeasure = cardata_df['engine'].str.split(' ').str[1].unique()
powermeasure
cardata_df['engine_'] = cardata_df['engine_'].astype(float)
cardata_df = cardata_df[(np.abs(stats.zscore(cardata_df['engine_'])) < 3)]
cardata_df['engine_'].describe()
cardata_df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,manufacturer,manufacturerregion,miles_per_gallon,maxpower,engine_
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,Honda,Honda,41.632981,78.00,1497.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0,Toyota,Toyota,55.487119,67.10,1364.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0,Ford,Ford,47.042916,68.10,1399.0
21,Honda WR-V i-DTEC VX,2017,950000,50000,Diesel,Individual,Manual,First Owner,25.5 kmpl,1498 CC,98.6 bhp,200Nm@ 1750rpm,5.0,Honda,Honda,59.979718,98.60,1498.0
27,Chevrolet Enjoy TCDi LTZ 7 Seater,2013,300000,70000,Diesel,Individual,Manual,First Owner,18.2 kmpl,1248 CC,73.8 bhp,172.5Nm@ 1750rpm,7.0,Chevrolet,Chevrolet,42.809054,73.80,1248.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8105,Honda City 1.3 EXI,2004,135000,120000,Petrol,Individual,Manual,Second Owner,13.0 kmpl,1343 CC,90 bhp,11.3kgm@ 4700rpm,5.0,Honda,Honda,30.577895,90.00,1343.0
8109,Ford Freestyle Titanium Plus Diesel BSIV,2018,750000,24000,Diesel,Individual,Manual,First Owner,24.4 kmpl,1498 CC,98.63 bhp,215Nm@ 1750-3000rpm,5.0,Ford,Ford,57.392358,98.63,1498.0
8111,Toyota Etios Cross 1.4L GD,2014,425000,50000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.06 bhp,170Nm@ 1800-2400rpm,5.0,Toyota,Toyota,55.487119,67.06,1364.0
8112,Ford Freestyle Titanium Plus Diesel BSIV,2018,746000,24000,Diesel,Individual,Manual,First Owner,24.4 kmpl,1498 CC,98.63 bhp,215Nm@ 1750-3000rpm,5.0,Ford,Ford,57.392358,98.63,1498.0
8113,Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV,2010,425000,129000,Diesel,Individual,Manual,First Owner,12.8 kmpl,2494 CC,102 bhp,20.4@ 1400-3400(kgm@ rpm),8.0,Toyota,Toyota,30.107466,102.00,2494.0

In [439]:
# convert km_driven to miles_driven
cardata_df['miles_driven']=cardata_df.km_driven.astype(float)*0.621371

In [440]:
# drop duplicate columns, change number formats
cardata_df = cardata_df[['name', 'manufacturer', 'manufacturerregion', 'year','selling_price','miles_driven', 'fuel', 'seller_type', 'transmission', 'owner', 'seats', 'miles_per_gallon', 'maxpower', 'engine_']]
cardata_df['seats'] = cardata_df['seats'].astype(int)
cardata_df['engine_'] = cardata_df['engine_'].astype(int)
cardata_df['miles_per_gallon'] = cardata_df['miles_per_gallon'].round(2)
cardata_df['owner'].value_counts()

<ipython-input-440-184251dd7688>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardata_df['seats'] = cardata_df['seats'].astype(int)
<ipython-input-440-184251dd7688>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardata_df['engine_'] = cardata_df['engine_'].astype(int)
<ipython-input-440-184251dd7688>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cardata_df['miles_per_gallon'] = cardata_df['miles_per_gallon'].round(2)

First Owner             1441
Second Owner             559
Third Owner              131
Fourth & Above Owner      35
Test Drive Car             5
Name: owner, dtype: int64

In [441]:
# reduce dataset to individual and dealer sales
cardata_df = cardata_df[cardata_df['seller_type'].str.contains("Trustmark Dealer")==False]

array(['Individual', 'Dealer'], dtype=object)

In [442]:
# create new manufacturer region column
manufacturerregion = {'Honda' : 'Japan', 'Toyota' : 'Japan', 'Ford' : 'United States', 'Chevrolet' : 'United States', 'Jeep' : 'United States', 'Mercedes-Benz' : 'Europe',
       'Mitsubishi' : 'Japan', 'Audi' : 'Europe', 'Volkswagen' : 'Europe', 'BMW' : 'Europe', 'Nissan' : 'Japan', 'Lexus' : 'Europe', 'Jaguar' : 'Europe', 'Fiat' : 'Europe'}
cardata_df.manufacturerregion = [manufacturerregion[item] for item in cardata_df.manufacturerregion]
cardata_df

,name,manufacturer,manufacturerregion,year,selling_price,miles_driven,fuel,seller_type,transmission,owner,seats,miles_per_gallon,maxpower,engine_
2,Honda City 2017-2020 EXi,Honda,Japan,2006,158000,86991.940,Petrol,Individual,Manual,Third Owner,5,41.63,78.00,1497
8,Toyota Etios VXD,Toyota,Japan,2011,350000,55923.390,Diesel,Individual,Manual,First Owner,5,55.49,67.10,1364
9,Ford Figo Diesel Celebration Edition,Ford,United States,2013,200000,105011.699,Diesel,Individual,Manual,First Owner,5,47.04,68.10,1399
21,Honda WR-V i-DTEC VX,Honda,Japan,2017,950000,31068.550,Diesel,Individual,Manual,First Owner,5,59.98,98.60,1498
27,Chevrolet Enjoy TCDi LTZ 7 Seater,Chevrolet,United States,2013,300000,43495.970,Diesel,Individual,Manual,First Owner,7,42.81,73.80,1248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8105,Honda City 1.3 EXI,Honda,Japan,2004,135000,74564.520,Petrol,Individual,Manual,Second Owner,5,30.58,90.00,1343
8109,Ford Freestyle Titanium Plus Diesel BSIV,Ford,United States,2018,750000,14912.904,Diesel,Individual,Manual,First Owner,5,57.39,98.63,1498
8111,Toyota Etios Cross 1.4L GD,Toyota,Japan,2014,425000,31068.550,Diesel,Individual,Manual,First Owner,5,55.49,67.06,1364
8112,Ford Freestyle Titanium Plus Diesel BSIV,Ford,United States,2018,746000,14912.904,Diesel,Individual,Manual,First Owner,5,57.39,98.63,1498
8113,Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV,Toyota,Japan,2010,425000,80156.859,Diesel,Individual,Manual,First Owner,8,30.11,102.00,2494

In [443]:
# assign dummy variables
num_assign = {"manufacturer": {'Honda' : 1, 'Toyota' : 2, 'Ford' : 3, 'Chevrolet' : 4, 'Jeep' : 5, 'Mercedes-Benz' : 6,
                   'Mitsubishi' : 7, 'Audi' : 8, 'Volkswagen' : 9, 'BMW' : 10, 'Nissan' : 11, 'Lexus' : 12, 'Jaguar' : 13, 'Fiat' : 14},
                "manufacturerregion": {"Japan": 1, "United States": 2, "Europe": 3},
                "fuel": {"Petrol": 0, "Diesel": 1},
                "seller_type":  {"Individual": 0, "Dealer": 1},
                "transmission":     {"Automatic": 0, "Manual": 1},
                "owner":     {"Test Drive Car": 0, "First Owner": 1, "Second Owner": 2, "Third Owner": 3, "Fourth & Above Owner": 4},}
cardata_df = cardata_df.replace(num_assign)
cardata_df.head()

,name,manufacturer,manufacturerregion,year,selling_price,miles_driven,fuel,seller_type,transmission,owner,seats,miles_per_gallon,maxpower,engine_
2,Honda City 2017-2020 EXi,1,1,2006,158000,86991.940,0,0,1,3,5,41.63,78.0,1497
8,Toyota Etios VXD,2,1,2011,350000,55923.390,1,0,1,1,5,55.49,67.1,1364
9,Ford Figo Diesel Celebration Edition,3,2,2013,200000,105011.699,1,0,1,1,5,47.04,68.1,1399
21,Honda WR-V i-DTEC VX,1,1,2017,950000,31068.550,1,0,1,1,5,59.98,98.6,1498
27,Chevrolet Enjoy TCDi LTZ 7 Seater,4,2,2013,300000,43495.970,1,0,1,1,7,42.81,73.8,1248

In [449]:
# rename columns
cardata_df = cardata_df.rename(columns={"manufacturer":"Manufacturer", "manufacturerregion":"Region", "year":"Year", "selling_price":"SellingPrice($)", "miles_driven":"MilesDriven", "fuel":"FuelType", "seller_type":"SellerType", "transmission":"TransmissionType", "owner":"PrevOwnerCount", "seats":"SeatCount", "miles_per_gallon":"MPG", "maxpower":"Power(bhp)", "engine_":"EnginePower(CC)"})

In [450]:
# drop and reorder columns
cardata_df = cardata_df[['Year', 'Manufacturer', 'Region', 'MilesDriven','FuelType','SellerType', 'TransmissionType', 'PrevOwnerCount', 'SeatCount', 'MPG', 'Power(bhp)', 'EnginePower(CC)', 'SellingPrice($)']]

In [454]:
# view clean dataframe, export to csv
#cardata_df.to_csv(r'C:\Users\garre\OneDrive\Desktop\RegressionModel\Dataset\CleanCarDataset.csv', encoding='utf-8', index=False)
cardata_df

,Year,Manufacturer,Region,MilesDriven,FuelType,SellerType,TransmissionType,PrevOwnerCount,SeatCount,MPG,Power(bhp),EnginePower(CC),SellingPrice($)
2,2006,1,1,86991.940,0,0,1,3,5,41.63,78.00,1497,158000
8,2011,2,1,55923.390,1,0,1,1,5,55.49,67.10,1364,350000
9,2013,3,2,105011.699,1,0,1,1,5,47.04,68.10,1399,200000
21,2017,1,1,31068.550,1,0,1,1,5,59.98,98.60,1498,950000
27,2013,4,2,43495.970,1,0,1,1,7,42.81,73.80,1248,300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8105,2004,1,1,74564.520,0,0,1,2,5,30.58,90.00,1343,135000
8109,2018,3,2,14912.904,1,0,1,1,5,57.39,98.63,1498,750000
8111,2014,2,1,31068.550,1,0,1,1,5,55.49,67.06,1364,425000
8112,2018,3,2,14912.904,1,0,1,1,5,57.39,98.63,1498,746000
8113,2010,2,1,80156.859,1,0,1,1,8,30.11,102.00,2494,425000

In [453]:
# correlation matrix
cardata_df.corr()

,Year,Manufacturer,Region,MilesDriven,FuelType,SellerType,TransmissionType,PrevOwnerCount,SeatCount,MPG,Power(bhp),EnginePower(CC),SellingPrice($)
Year,1.000000,0.186883,0.179931,-0.560194,0.085792,0.361721,-0.309653,-0.505776,-0.107891,0.284027,0.309833,-0.001173,0.529952
Manufacturer,0.186883,1.000000,0.747072,-0.209547,0.152907,0.269853,-0.406879,-0.086440,-0.256423,0.025399,0.351292,0.032986,0.443668
Region,0.179931,0.747072,1.000000,-0.255317,0.156772,0.262417,-0.385245,-0.071071,-0.315626,0.073997,0.326527,-0.051264,0.404636
MilesDriven,-0.560194,-0.209547,-0.255317,1.000000,0.263313,-0.343736,0.312661,0.342674,0.382560,-0.167614,-0.246359,0.219369,-0.372242
FuelType,0.085792,0.152907,0.156772,0.263313,1.000000,0.024264,-0.010190,0.013120,0.278779,0.211025,0.103041,0.338804,0.135341
SellerType,0.361721,0.269853,0.262417,-0.343736,0.024264,1.000000,-0.438921,-0.295684,-0.125617,-0.009150,0.449913,0.166905,0.550437
TransmissionType,-0.309653,-0.406879,-0.385245,0.312661,-0.010190,-0.438921,1.000000,0.197145,0.090834,0.246744,-0.745548,-0.405028,-0.689818
PrevOwnerCount,-0.505776,-0.086440,-0.071071,0.342674,0.013120,-0.295684,0.197145,1.000000,0.086384,-0.122943,-0.179194,0.002417,-0.295924
SeatCount,-0.107891,-0.256423,-0.315626,0.382560,0.278779,-0.125617,0.090834,0.086384,1.000000,-0.508996,0.053715,0.627729,-0.015852
MPG,0.284027,0.025399,0.073997,-0.167614,0.211025,-0.009150,0.246744,-0.122943,-0.508996,1.000000,-0.352257,-0.597111,-0.125477
Power(bhp),0.309833,0.351292,0.326527,-0.246359,0.103041,0.449913,-0.745548,-0.179194,0.053715,-0.352257,1.000000,0.680699,0.780358
EnginePower(CC),-0.001173,0.032986,-0.051264,0.219369,0.338804,0.166905,-0.405028,0.002417,0.627729,-0.597111,0.680699,1.000000,0.456440
SellingPrice($),0.529952,0.443668,0.404636,-0.372242,0.135341,0.550437,-0.689818,-0.295924,-0.015852,-0.125477,0.780358,0.456440,1.000000